@import "../../styles/variables";

.button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  color: $gray-700;
  border-radius: 0.25rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: $gray-200;
  }

  &:active {
    background-color: $gray-300;
  }

  &:focus:not(:focus-visible) {
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px $gray-400;
  }
}
