@import "../../../styles/variables";

.datePicker {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid $gray-300;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: $gray-700;
    outline: none;
  }

  &:disabled {
    background-color: $gray-100;
    cursor: not-allowed;
  }
}