@import "./variables";

$themes: (
  light: (
    /* Button */
    buttonColor: $indigo-500,
    buttonTextColor: $white,
    buttonHoverColor: $indigo-600,
    buttonDisabledColor: $indigo-300,
    buttonRingColor: $indigo-400,
    buttonRingOffsetColor: $white,
    buttonShadowColor: $indigo-300,

    /* Input */
    inputOutlineColor: $gray-300,
    inputOutlineFocusColor: $indigo-500,
  
    /* Toggle Switch */
    toggleSwitchColor: $gray-400,
    toggleSwitchHoverColor: $gray-500,
    toggleSwitchCheckedColor: $indigo-500,
    toggleSwitchCheckedHoverColor: $indigo-600,
    toggleSwitchTextColor: $white,
    toggleSwitchDisabledColor: $gray-200,
    toggleSwitchCheckedDisabledColor: $indigo-300,
  ),
  dark: (
    /* Button */
    buttonColor: $indigo-500,
    buttonTextColor: $white,
    buttonHoverColor: $indigo-600,
    buttonDisabledColor: $indigo-300,
    buttonRingColor: $indigo-400,
    buttonRingOffsetColor: $gray-800,
    buttonShadowColor: $gray-900,

    /* Input */
    inputColor: $indigo-500,
    inputTextColor: $white,
    
    /* Toggle Switch */
    toggleSwitchColor: $white,
    toggleSwitchHoverColor: $gray-400,
    toggleSwitchCheckedColor: $indigo-500,
    toggleSwitchCheckedHoverColor: $indigo-600,
  ),
);
