@import "./reset";
@import "./mixins";
@import "./variables";

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  font-family: "Segoe UI", sans-serif;
}

body {
  font-family: "Segoe UI", sans-serif;
}
