@import "../../styles/variables";

.breadcrumb {
  font-size: 1rem;
  color: $gray-400;
}

.breadcrumbItem {
  display: inline;

  &:not(:last-child):after {
    content: " \002F ";
    margin-right: 0.2rem;
  }

  a {
    text-decoration: none;
    color: $gray-400;
    transition: color 0.3s ease;

    &:hover {
      color: $gray-500;
    }
  }

  .active {
    color: $gray-600;
    font-weight: 600;
  }
}

.storybook {
  background-color: #f6f9ff;
}
