$color: #899bbd;
$activeColor: #51678f;

.breadcrumb {
  margin-top: 5px;
  font-weight: 600;
  font-size: 14px;
  color: $color;

  .item {
    display: inline;

    &:not(:last-child):after {
      content: " \002F ";
      margin-right: 2px;
    }

    a {
      text-decoration: none;
      color: $color;

      &:hover {
        text-decoration: underline;
      }
    }

    .active {
      font-weight: 600;
      color: $activeColor;
    }
  }
}
